<h1 class="mt-3">Quản lý Admin con</h1>

<form action="/admin/add_admin" method="POST" class="mt-3">
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Tên Admin</th>
        <th>Tài khoản</th>
        <th style="width: 500px;" >Vai trò</th>
        <th>Mật khẩu</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <!-- Hàng nhập thêm mới -->
      <tr>
        <td>+</td>
        <td>
          <input type="text" name="name" class="form-control" placeholder="Tên người dùng" required>
        </td>
        <td>
          <input type="text" name="username" class="form-control" placeholder="Tên đăng nhập" required>
        </td>
        <td>
          <select name="role" class="form-control" required>
            <option value="event_admin">Event Admin</option>
            <option value="ticket_admin">Ticket Admin</option>
          </select>
        </td>
        <td>
          <input type="password" name="password" class="form-control" placeholder="Mật khẩu" required>
        </td>
        <td class="text-center">
          <button type="submit" class="btn btn-success btn-sm w-50">Thêm</button>
        </td>
      </tr>
    </form>

      <!-- Danh sách admin hiện có -->
      {{#each admin}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.username}}</td>
        <td>{{this.role}}</td>
        <td>••••••</td>
        <td class="text-center">
          <div class="d-flex justify-content-center gap-2">
            <!-- Nút Xóa -->
            <form action="/admin/delete_admin/{{this._id}}" method="POST">
              <button type="submit" class="btn btn-danger btn-sm w-100">Xóa</button>
            </form>

            <!-- Nút Gán Quyền -->
            <form action="/admin/assign_roles/{{this._id}}" method="GET">
              <button type="submit" class="btn btn-primary btn-sm w-100">Gán Quyền</button>
            </form>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
